#topo {
    background: rgb(5, 0, 90);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(7, 0, 104) 35%, rgb(0, 0, 0) 100%);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: normal;
    width: 1810px;
    height: 140px;
    padding: 10px;
    position: static;
    border: 10px;
    border-width: 10px;
    border-style: double;
}
#dcstop{
    font-size: large;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    background-color: darkblue;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: larger;
}
.destbook {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    gap: 200px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: larger;
}
#destt {
    display: flex;
    justify-content: center;
    font: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
.destaques {
    background-color: coral;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 15, 102) 35%, rgb(0, 0, 0) 100%);
    color: white;
    border: 10px;
    border-width: 10px;
    border-style: double;
    
}
#prl2 {
    text-align: center;
    font-size: 50px;
}
.bkfp1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    gap: 200px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: larger;
}
#dcsfp {
    display: flex;
    justify-content: center;
    font: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
.produtos {
    background: linear-gradient(90deg, rgb(51, 15, 6) 0%, rgb(255, 51, 0) 35%, rgb(48, 14, 5) 100%);
    color: white;
    border: 10px;
    border-width: 10px;
    border-style: dotted;
} 
#rodape {
    background-color: rgb(189, 112, 107);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 15, 102) 35%, rgb(0, 0, 0) 100%);
    color: white;
    border: 10px;
    border-width: 10px;
    border-style: dashed;
}
/*DIV referente a tamanho do texto dos livros*/
#TW3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
/*Texto de todos os direitos reservados*/
#ljps {
    text-align: center;
    font-size: larger;
    text-decoration: underline;
    text-underline-position: below;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(7, 0, 104) 35%, rgb(0, 0, 0) 100%);
    color: white;
    
}
a:hover {
    background-color: rgb(87, 0, 185);
    color: yellow;
    font-size: 30px;
    margin: 10px;
    border: solid 4px white;
}
a:visited{
    color: white;
}


/*************NAV*****************************/

.sobre{
    background: linear-gradient(90deg, rgb(16, 0, 43) 0%, rgb(59, 10, 138) 35%, rgb(23, 0, 59) 100%);
    color: white;
    border: 10px;
    border-width: 10px;
    border-style: double;
} 

.contato{
    background: linear-gradient(90deg, rgba(184, 44, 1, 0.37) 0%, rgb(177, 0, 0) 35%, rgba(146, 0, 0, 0.507) 100%);
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px;
    border-width: 10px;
    border-style: dashed;
    }
#mx2 {
    text-align: center;
}    
#d2max {
    text-align: center;
    font: bolder;
    font-size: x-large;
}
#dcv {
    text-align: center;
    font-size: x-large;
}